/* CSS files add styling rules to your content */

body {
  margin: 2em;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #373fff;
  font-size: 80px;
}

h2 {
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: blue;
}
input[name=search] {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.bottom {
  color: grey;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: space-around;
}

.account {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-end;
}

.icon {
  margin: 0px 20px 0px 20px;
}

.about {
  margin: 100px 0px 0px 0px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.topleft{
  margin: 10px 0px 0px 0px
}

@media only screen and (max-width: 768px) {
  body {
    margin: 60px;
  }
  
  input[name=search] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
}
  
  h1{
    font-size: 60px;
  }
.bottomul {
  color: grey;
  display: flex;
/*   flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: space-around;

}
  
li {
  font-size: 14px;
}
  
}



@media only screen and (max-width: 600px) {
  body {
    margin: 30px;
  }
  
input[name=search] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
}

  .searchicon{
  }
  
.bottomul {
  color: grey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: space-around;
}

  .about{
    font-size: 16px;
    color: white;
  }
  h1{
    font-size: 40px;
  } 
  li {
  font-size: 20px;
}
}